<div role="main">
  <article>
    <header>
      <h1><%= page.title %></h1>
      <p><%= date(page.date, config.date_format) %></p>
    </header>
    <%- page.content %>
    <%- partial('_partial/structured-data', { post: page }) %>
  </article>
  <nav>
    <span class="post-nav-next">
      <% if (page.next) { %>
        <a href="<%- url_for(page.next.path) %>"><%= page.next.title %></a>
      <% } %>
    </span>
    <span class="post-nav-prev">
      <% if (page.prev) { %>
        <a href="<%- url_for(page.prev.path) %>"><%= page.prev.title %></a>
      <% } %>
    </span>
  </nav>
  <%- partial('_partial/comments') %>
</div>
