<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fira+Sans:300,400">
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <title><%= page.title ? page.title + ' | ' : '' %>Tim G. Thomas</title>
</head>
<body>
  <header role="banner">
    <h1>
      <a class="<%- is_current('/', true) ? 'active' : '' %>" href="/">Tim G Thomas</a>
    </h1>
    <nav>
      <a class="<%- is_current('blog') ? 'active' : '' %>" href="<%= url_for(site.posts.last().path) %>">Blog</a>
      <a class="<%- is_current('projects') ? 'active' : '' %>" href="/projects">Projects</a>
      <a class="<%- is_current('talks') ? 'active' : '' %>" href="/talks">Talks</a>
    </nav>
  </header>
  <main><%- body %></main>
  <footer>&copy; Tim G. Thomas</footer>
</body>
</html>
