<!doctype html>
<html lang="en">
<head>
  <link rel="alternate" href="http://feeds.feedburner.com/timgthomas" title="Tim G. Thomas" type="application/rss+xml">
  <link rel="icon" type="image/x-icon" href="/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title><%= page.title ? page.title + ' | ' : '' %>Tim G. Thomas</title>
</head>
<body ontouchstart>
  <header role="banner">
    <h1>
      <a class="<%- is_current('/', true) ? 'active' : '' %>" href="/">Tim G Thomas</a>
    </h1>
    <nav>
      <a class="<%- (is_current('blog') || page.layout === 'post') ? 'active' : '' %>" href="<%= url_for(site.posts.last().path) %>">Blog</a>
      <a class="<%- is_current('projects') ? 'active' : '' %>" href="/projects">Projects</a>
      <!--<a class="<%- is_current('talks') ? 'active' : '' %>" href="/talks">Talks</a>-->
    </nav>
  </header>
  <% let { layout = 'index' } = page %>
  <% if (layout === 'index') { %>
    <%- partial('_partial/hero') %>
  <% } %>
  <main class="<%= layout %>"><%- body %></main>
  <footer>&copy; Tim G. Thomas</footer>
  <% if (!env.debug) { %>
    <%- partial('_partial/analytics') %>
  <% } %>
</body>
</html>
