---
import type { GetStaticPaths } from 'astro'
import { type CollectionEntry, getCollection, render } from 'astro:content'
import Layout from '../../../components/layout.astro'
import { formatDate } from '../../../lib/utils/datetime'

type Props = CollectionEntry<'blog'>

export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getCollection('blog')
  return posts.flatMap((post) => {
    // NOTE: For some reason, the pattern `{post}/index.md` resolves to
    // `{post.md}` instead
    const m = post.id.match(/^(\d{4})-(\d{2})-(\d{2})-(.+).md(x?)$/)

    if (!m) {
      console.warn(`Skipped unmatched post id: ${post.id}`)
      return []
    }

    const [, year, month, day, slug] = m

    post.date = new Date(`${year}-${month}-${day}`)

    return { params: { year, month, slug }, props: { post } }
  })
}

const { post } = Astro.props

const { Content } = await render(post)
---

<Layout>
  <div role="main">
    <article>
      <header>
        <h1>{post.data.title}</h1>
        <p>{formatDate(post.date)}</p>
      </header>
      <!-- <pre>{JSON.stringify(post, null, 2)}</pre> -->
      <Content />
    </article>
  </div>
</Layout>
