<main>
  <h1><%= page.title %></h1>
  <%- page.content %>
</main>

<footer>
  <% if (page.prev) { %>
    <a href="<%- url_for(page.prev.path) %>"><%= page.prev.title %></a>
  <% } %>
  <% if (page.next) { %>
    <a href="<%- url_for(page.next.path) %>"><%= page.next.title %></a>
  <% } %>
</footer>
