<li class="project">
  <h2 id="{{project.id}}">{{project.name}}</h2>
  <div class="img" style="background-image: url('/images/projects/{{project.id}}.jpg')"></div>
  <p>{{project.description}}</p>
  {{#if project.links.length}}
    <nav aria-labelledby="{{project.id}}-links">
      <h3 id="{{project.id}}-links">Links</h3>
      {{#each project.links}}
        <a href="{{link}}" target="_blank">
          <svg><use xlink:href="/images/social.svg#{{type}}"></use></svg>
          {{type}}
        </a>
      {{/each}}
    </nav>
  {{/if}}
</li>
