---
import Layout from '../components/layout.astro'
import StructuredData from '../components/structured-data.astro'
import { formatDate } from '../lib/utils/datetime'
import { getPosts } from '../lib/models/post'

const posts = await getPosts()

const [firstpost, nextpost] = posts

const { Content } = await firstpost.render()
---

<Layout title={firstpost.data.title}>
  <div role="main">
    <article>
      <header>
        <h1>{firstpost.data.title}</h1>
        <p>{formatDate(firstpost.date)}</p>
      </header>

      <Content />
      <StructuredData post={firstpost} />
    </article>

    <nav>
      <span class="post-nav-prev"></span>
      <span class="post-nav-next">
        {nextpost && <a href={nextpost.url}>{nextpost.data.title}</a>}
      </span>
    </nav>
  </div>
</Layout>
