---
import Layout from '../components/layout.astro'
import StructuredData from '../components/structured-data.astro'
import { getPosts } from '../lib/models/post'
import { formatDate } from '../lib/utils/datetime'

const [post, nextPost] = await getPosts()
const { Content: RenderedPost } = await post.render()
---

<Layout title={post.data.title}>
  <div role="main">
    <article>
      <header>
        <h1>{post.data.title}</h1>
        <p>{formatDate(post.date)}</p>
      </header>
      <RenderedPost />
      <StructuredData post={post} />
    </article>
    <nav>
      <span class="post-nav-prev"></span>
      <span class="post-nav-next">
        {nextPost && <a href={nextPost.url}>{nextPost.data.title}</a>}
      </span>
    </nav>
  </div>
</Layout>
