---
import type { ListItem } from '@src/types'

interface Props {
  item: ListItem
}

const { item } = Astro.props

const buildAlt = (item: ListItem): string => {
  switch (item.type!) {
    case 'project':
      return `Screenshot of Tim’s “${item.title}” project.`
    case 'talk':
      return `Screenshot from Tim’s “${item.title}” talk.`
  }
}
---

<figure>
  <img src={item.heroImageUrl} alt={buildAlt(item)} />
  <figcaption>
    <h1>{item.title}</h1>
    <p>{item.summary}</p>
    <ul>
      {
        item.links.map((link) => (
          <li>
            <a href={link.link} target="_blank" rel="noopener">
              {link.type}
            </a>
          </li>
        ))
      }
    </ul>
  </figcaption>
</figure>

<style scoped>
  img {
    height: 14rem;
    object-fit: cover;
  }
</style>
