<section class="g-row s-blog" role="main">
  <article class="g-left">
    <% var firstpost = page.posts.first(); %>
    <header>
      <h1>
        <a href="/<%- firstpost.path %>"><%= firstpost.title %></a>
        <small>
          <%= date(firstpost.date, config.date_format) %> |
          <a href="/<%- firstpost.path %>#disqus_thread">View Comments</a>
        </small>
      </h1>
    </header>
    <%- firstpost.content %>
  </article>

  <aside class="g-right sticky">
    <header><h1>More Posts</h1></header>
    <%= Object.keys(site.posts.sort) %>
    <ol class="list-icons list-banded" start="2">
      <% site.posts.sort('date', -1).limit(5).each(function(post, i) { %>
        <% if (i === 0) return; %>
        <li>
          <a href="/<%= post.path %>">
            <i class="icon icon-bookmark-empty"></i>
            <span class="title title-full"><%= post.title %></span>
            <small class="subtitle"><%= date(post.date, config.date_format) %></small>
          </a>
        </li>
      <% }); %>
      <li>
        <a href="/archives">
          <i class="icon icon-book"></i>
          <span class="title title-full">View the Archives</span>
          <small class="subtitle">Read all <%- site.posts.length %> posts</small>
        </a>
      </li>
      <li>
        <a href="http://feeds.feedburner.com/timgthomas">
          <i class="icon icon-rss"></i>
          <span class="title title-full">Subscribe to Updates</span>
          <small class="subtitle">Read future posts</small>
        </a>
      </li>
    </ol>
  </aside>
</section>
